<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Handle playground path -->
        <rule name="Playground" stopProcessing="true">
          <match url="^playground/(.*)$" />
          <action type="Rewrite" url="src/playground/{R:1}" />
        </rule>
        
        <!-- Handle direct playground access -->
        <rule name="PlaygroundIndex" stopProcessing="true">
          <match url="^playground/?$" />
          <action type="Rewrite" url="src/playground/index.php" />
        </rule>
        
        <!-- Redirect all other requests to index.php -->
        <rule name="Main" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/playground" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Enable URL rewriting -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <!-- Set default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
