<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Enable URL Rewriting -->
    <rewrite>
      <rules>
        <!-- Allow direct access to /src/playground/index.php -->
        <rule name="AllowPlayground" stopProcessing="true">
          <match url="^src/playground/index\.php$" />
          <action type="None" />
        </rule>

        <!-- Redirect all other requests to index.php -->
        <rule name="RedirectToIndex" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>

    <!-- Allow PHP to handle requests -->
    <handlers>
      <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="%PHP_PATH%" resourceType="Either" requireAccess="Script" />
    </handlers>

  </system.webServer>
</configuration>
